* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* @media (min-width: 1281px) {
  .text {
    text-align: center;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .text {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .text {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .text {
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .text {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .text {
    text-align: center;
  }
} */
